* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cards {
    display: flex;
    justify-content: center;
    margin-top: 96px;
    flex-wrap: wrap;
    gap: 40px;

}

.cards-box {
    display: flex;
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    position: relative;

}

.cards-box__content {
    width: 390px;
    height: 306px;
}

.cards-box__content {
    padding-top: 22px;
    padding-left: 31px;
}

.cards-box__link {
    display: flex;
}

.cards-box__title {
    color: rgba(34, 34, 34, 1);
    font-family: Lato;
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
    text-align: left;
    width: 200px;
    margin-bottom: 42px;
}

.cards-box__dsc {
    color: rgba(87, 87, 87, 1);
    font-family: Lato;
    font-size: 22px;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
    margin-bottom: 6px;
}

.card-box__close {
    position: absolute;
    top: 28px;
    right: 22px;
    left: auto;
}

.card-box__dsc_prise {
    color: rgba(239, 91, 112, 1);
}

.card-box__dsc_quantity {
    width: 44px;
    border: 1px solid rgb(234, 234, 234);
    text-align: center;
    color: rgb(101, 101, 101);
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
}