* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    /* max-width: 1146px;
    margin: 0 auto; */
    padding-left: calc(50% - 570px);
    padding-right: calc(50% - 570px);

}

.wrapper {
    padding-left: 10px;
    padding-right: 10px;
}

.header-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header {
    background: rgba(34, 34, 34, 1);
    padding-top: 18px;
    padding-bottom: 18px;
    padding-right: 32px;
    padding-left: 32px;
}

.header-left {
    display: flex;
    gap: 41px;
}

.header-right {
    display: flex;
    gap: 32px;
}


.brand-section__container {
    padding-left: calc(50% - 800px);
    padding-right: calc(50% - 800px);
}

.brand-section__flex {
    display: flex;
    align-items: center;
    gap: 4%;
}

.brand-section__img {
    display: block;
    width: 100%;
    height: auto;
}

.brand-section {
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgba(113, 103, 105, 0.08) 50%, rgba(241, 228, 230, 1) 50%);
    margin-bottom: 64px;
}


.brand-section__left,
.brand-section__right {
    width: 50%;
}

.brand-section__title {
    font-family: Lato;
    font-size: calc(38px + 10 * (100vw / 1140px));
    /* font-size: 48px; */
    font-weight: 900;
    text-align: left;
}

.brand-section__subtitle {
    font-family: Lato;
    font-size: calc(20px + 12 * (100vw / 1140px));
    /* font-size: 32px; */
    font-weight: 700;
    text-align: left;
}

.brand-section__subtitle-color {
    color: rgba(241, 109, 127, 1);
}

.brand-section__right {
    border-left: 12px solid rgba(241, 109, 127, 1);
    padding-left: 16px;
    max-width: 460px;
    min-width: 310px;
}

.categories__dsc {
    color: rgba(255, 255, 255, 1);
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}

.categories-flex {
    flex-direction: column;
    align-content: center;
}

.categories__subtitle {
    color: rgba(241, 109, 127, 1);
    font-family: Lato;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    width: 154px;
}

.categories-bloc {
    position: relative;
    overflow: hidden;
}

.categories-bloc__top {
    display: flex;
    gap: 30px;
}

.categories-bloc__bottom {
    position: relative;
    max-width: 1140px;
    max-height: 180px;
    overflow: hidden;
}

.categories__text-bloc {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.categories__img {
    width: 100%;
    height: auto;
    display: block;
}

.categories__img-bottom {
    width: 100%;
    min-height: 111px;
    display: block;
}

.flex {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

.categories {
    margin-bottom: 97px;
}

.product-cards__heading {
    color: rgba(34, 34, 34, 1);
    font-family: Lato;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    text-align: center;
}

.product-cards__dsc {
    color: rgba(159, 159, 159, 1);
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    text-align: center;
    margin-bottom: 49px;
}

.product-box {
    max-width: 360px;
    display: flex;
    flex-direction: column;

}

.product-box-text {
    background: rgba(248, 248, 248, 1);
    padding: 25px 28px 20px 18px;
}

.product-box__cards-name {
    color: rgba(0, 0, 0, 1);
    font-family: Lato;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    text-align: left;
    margin-bottom: 12px;
}

.product-box__cards-description {
    color: rgba(93, 93, 93, 1);
    font-family: Lato;
    font-size: 14px;
    font-weight: 300;
    line-height: 17px;
    text-align: left;
    margin-bottom: 18px;
}

.product-box__cards-price {
    color: rgba(241, 109, 127, 1);
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    text-align: left;
}

.product-cards__margin {
    margin-bottom: 63px;
}

.product-btn {
    text-decoration: none;
    color: rgba(242, 99, 118, 1);
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    border: 1px solid rgba(255, 106, 106, 1);
    padding: 1rem 2rem;
    background-color: white;
    transition: all 0.3s;
}

.product-btn:hover {
    color: white;
    background-color: rgba(255, 106, 106, 1);
}

.product-cards {
    margin-bottom: 109px;
}

.advantages {
    background-color: rgba(34, 34, 36, 1);
    padding-top: 104px;
    padding-bottom: 104px;
}

.advantages-box {
    max-width: 360px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.advantages__subtitle {
    color: rgba(251, 251, 251, 1);
    font-family: Lato;
    font-size: 19.96px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    margin-bottom: 16px;
}

.advantages__img {
    margin-bottom: 25px;
}

.advantages__dsc {
    color: rgba(251, 251, 251, 1);
    font-family: Lato;
    font-size: 13.97px;
    font-weight: 300;
    line-height: 17px;
    text-align: center;
    max-width: 300px;
}

.advantages-flex {
    align-items: flex-end;
    justify-content: space-between;
}

.subscribe {
    background-image: url(img/subscribe-background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
    min-height: 448px;
}

.subscribe-left__dsc {
    color: rgba(34, 34, 36, 1);
    font-family: Lato;
    font-size: 20px;
    font-weight: undefined;
    line-height: 24px;
    text-align: center;
    width: 360px;
}

.subscribe-left {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subscribe-left__img {
    margin-bottom: 32px;
}

.subscribe-right__heading {
    color: rgba(34, 34, 36, 1);
    font-family: Lato;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    line-height: 167.2%;
}

.subscribe-right__dsc {
    color: rgba(34, 34, 36, 1);
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 32px;
}

.subscribe-right__email {
    padding-left: 22px;
    border: 1px solid rgba(225, 225, 225, 1);
    ;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    width: 200px;
    height: 49px;
    background: rgba(225, 225, 225, 1);
}

.subscribe-right__email::placeholder {
    color: rgba(34, 34, 36, 1);
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    text-align: left;
}

.subscribe-right__button {
    width: 100px;
    height: 49px;
    background: rgba(241, 109, 127, 1);
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    border: 1px solid rgba(241, 109, 127, 1);
    color: rgba(255, 255, 255, 1);
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    text-align: center;
    transition: all 0.3s;
}

.subscribe-right__button:hover {
    color: rgba(241, 109, 127, 1);
    background-color: white;
}

.subscribe-right__form {
    display: flex;
}

.subscribe {
    padding-top: 86px;
}

.subscribe-flex {
    align-items: flex-end;
    justify-content: space-between;
}

.footer {
    background: rgba(34, 34, 36, 1);
    padding: 24px 32px;
}

.footer-text {
    color: rgba(251, 251, 251, 1);
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    text-align: left;
}

.footer-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-right {
    display: flex;
    gap: 7px;
}

@media (max-width: 1024px) {
    .flex {
        gap: 20px;
    }

    .categories-bloc__top {
        gap: 20px;
    }

    .advantages-flex {
        flex-direction: column;
        align-items: center;
        gap: 48px;
    }

    .advantages {
        padding-top: 48px;
        padding-bottom: 64px
    }

    .subscribe-flex {
        flex-direction: column;
        align-items: center;
        gap: 48px;
    }

    .subscribe-right {
        padding-bottom: 219px;
    }

}

@media (max-width: 767px) {
    .footer {
        padding-left: 16px;
        padding-right: 16px;
    }

    .dispplay-none {
        display: none;
    }

    .brand-section {
        padding-top: 148px;
        padding-bottom: 148px;
        background: linear-gradient(to right, rgba(241, 228, 230, 1) 100%);
    }

    .brand-section__flex {
        justify-content: center;
    }

    .categories-bloc__top {
        flex-direction: column;
    }

    .flex {
        align-items: center;
    }

    .categories__img-bottom {
        max-width: 360px;
    }

    .footer-flex {
        flex-direction: column-reverse;
        gap: 40px;
    }

    .footer {
        padding: 43px 32px 9px 32px;
    }
}