.top-head {
    background-color: rgba(248, 243, 244, 1);
    padding-top: 60px;
    padding-bottom: 60px;

    &__flex {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__heading {
        font-family: Lato;
        font-size: 24px;
        font-weight: 400;
        line-height: 29px;
        color: $colorSelecSite;
    }

}


.breadcrumbs__link {
    text-decoration: none;
    color: rgba(99, 99, 99, 1);
    font-family: Lato;
    font-size: 14px;
    font-weight: 300;
    line-height: 17px;
}

.breadcrumbs__link_site {
    font-weight: 700;
    color: $colorSelecSite;
}

.showcase-goods {
    background-color: rgba(247, 247, 247, 1);
    height: 777px;
    margin-bottom: 700px;

    &__container {
        padding-left: calc(50% - 800px);
        padding-right: calc(50% - 800px);
    }

    &__flex {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
    }
}

.slide-button {
    background-color: rgba(42, 42, 42, 0.15);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 47px;
    height: 47px;

    &__left {
        position: absolute;
        left: 0;
        right: auto;
    }

    &__right {
        position: absolute;
        right: 0;
        left: auto;
    }


}

.slide-button path {
    transition: all 0.3s;
}

.slide-button:hover path {
    fill: $colorSelecSite;
}

.sales-card {
    &__box {
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 64px;
        padding-bottom: 64px;
        border: 1px solid rgba(234, 234, 234, 1);
    }

    &__heading {
        color: $colorSelecSite;
        font-family: Lato;
        font-size: 14px;
        font-weight: 300;
        line-height: 17px;
        margin-bottom: 12px;
    }

    &__subtitle {
        color: rgba(77, 77, 77, 1);
        font-family: Lato;
        font-size: 18px;
        font-weight: 300;
        line-height: 22px;
        margin-top: 12px;
        margin-bottom: 48px;
    }

    &__dsc {
        max-width: 710px;
        color: rgba(77, 77, 77, 1);
        font-family: Lato;
        font-size: 18px;
        font-weight: 300;
        line-height: 22px;
        text-align: center;
        margin-bottom: 32px;
    }

    &__price {
        color: $colorSelecSite;
        font-family: Lato;
        font-size: 24px;
        font-weight: 300;
        line-height: 29px;
        margin-bottom: 65px;
    }

    &__hr {
        margin-bottom: 64px;
    }

    &__sort {
        display: flex;
        gap: 22px;
        margin-bottom: 63px;
    }

    &__sort_1 {
        left: 0px !important;
    }

    &__sort_2 {
        left: 0px !important;
    }

    &__sort_3 {
        left: 0px !important;
    }

    &__btn {
        display: flex;
        align-items: center;
        gap: 22px;
    }

    &__btn:hover path {
        fill: white;
    }

    &__btn path {
        transition: 0.3s;
    }
}

@media (max-width: 1024px) {

    .product-box_display-none {
        display: none !important;
    }
}

@media (max-width: 767px) {
    .top-head__flex {
        flex-direction: column;
        gap: 32px;
    }

    .sales-card__hr {
        width: 100%;
        height: 1px;
        padding: 0px 100px;
    }

    .sales-card__sort-name {
        font-size: 12px !important;
    }

    .slide-img {
        width: 374px;
        padding-top: 85px;
        padding-bottom: 85px;
    }
}

@media (max-width: 376px) {
    .sales-card__sort-name {
        font-size: 10px !important;
    }
}