.reg-loyalty-container__flex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 22px;
}

.reg-form {
    width: 360px;
    padding-bottom: 96px;

    &__title {
        color: rgba(34, 34, 34, 1);
        font-family: Lato;
        font-size: 16px;
        font-weight: 300;
        line-height: 19px;
    }

    &__field {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    &__input {
        width: 360px;
        border: 1px solid rgba(164, 164, 164, 1);
        padding: 14px 17px;
    }

    &__input:focus {
        outline: none;
        border: 2px solid $colorSelecSite;
        border-radius: 4px;
    }

    &__input::placeholder {
        color: rgba(177, 177, 177, 1);
        font-family: Lato;
        font-size: 13px;
        font-weight: 300;
        line-height: 16px;
    }

    &__radio {
        box-sizing: border-box;
        border: 1px solid rgba(164, 164, 164, 1);
    }

    input[type="radio"] {
        accent-color: $colorSelecSite;
        width: 17px;
        height: 17px;
    }

    &__radio-name {
        color: rgba(0, 0, 0, 1);
        font-family: Lato;
        font-size: 11px;
        font-weight: 300;
        line-height: 13px;
    }

    &__gender-label {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    &__gender-options {
        display: flex;
        gap: 20px;
        padding-top: 34px;
        padding-bottom: 34px;
    }

    &__input-password {
        margin-bottom: -5px;
    }

    &__password-instruction {
        color: rgba(177, 177, 177, 1);
        font-family: Lato;
        font-size: 13px;
        font-weight: 300;
        line-height: 16px;
        margin-bottom: 39px;
    }

    &__button {
        padding: 1rem 2rem;
        background: $colorSelecSite;
        border: 1px solid $colorSelecSite;
        color: rgba(255, 255, 255, 1);
        font-family: Lato;
        font-size: 14px;
        font-weight: 400;
        line-height: 17px;
        display: flex;
        gap: 20px;
        transition: all 0.3s;
    }

    &__button:hover {
        background-color: white;
        color: $colorSelecSite;
    }

    &__button:hover path {
        fill: $colorSelecSite;
    }

    &__button path {
        transition: all 0.3s;
    }
}

.loyalty {
    width: 60%;

    &__title {
        color: rgba(0, 0, 0, 1);
        font-family: Lato;
        font-size: 24px;
        font-weight: 300;
        line-height: 29px;
        margin-bottom: 22px;
    }

    &__text {
        color: rgba(0, 0, 0, 1);
        font-family: Lato;
        font-size: 24px;
        font-weight: 300;
        line-height: 29px;
        margin-bottom: 22px;
    }

    &__perks {
        display: flex;
        flex-direction: column;
        gap: 16px;
        list-style-type: none;
    }

    &__perk {
        color: rgba(0, 0, 0, 1);
        font-family: Lato;
        font-size: 24px;
        font-weight: 300;
        line-height: 29px;
    }

    &__perk::before {
        content: url(/img/registration/check-mark.svg);
        margin-right: 23px;
    }
}


@media (max-width: 1024px) {
    .loyalty {
        width: 360px;

        &__title {
            margin-bottom: 32px;
            font-size: 16px;
            line-height: 19px;
        }

        &__text {
            font-size: 16px;
            line-height: 19px;
        }

        &__perk {
            font-size: 16px;
            line-height: 19px;
        }



    }

    .reg-loyalty-container__flex {
        justify-content: center;
    }
}

@media (max-width: 767px) {
    .reg-loyalty-container {
        margin-bottom: 100px;
    }

    .reg-form {
        padding-bottom: 40px;
    }
}

@media (max-width: 376px) {
    .reg-form__input {
        width: 300px;
    }
}