body {
    font-family: sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.category-item {
    width: 30%;
    /* Чтобы в ряд помещалось 3 элемента примерно */
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
    text-align: center;
}

.category-item h2 {
    margin-top: 0;
}